= bootstrap_form_for @book do |f|
  = f.text_field :title
  = f.text_area :description
  = f.text_field :isbn
  = f.date_field :published_at
  = f.number_field :pages
  = f.number_field :price
  = f.number_field :quantity
  = f.submit 'Save'
