%h1.text-center Books

%table#books-list.table.table-bordered.table-hover
  %thead
    %tr
      %td Title
      %td Description
      %td ISBN
      %td Published at
      %td Pages
      %td Price
      %td Quantity
  %tbody
    - @books.each do |book|
      %tr
        %td= book['title']
        %td= book['description']
        %td= book['isbn']
        %td= book['published_at']
        %td= book['pages']
        %td= book['price']
        %td= book['quantity']

= link_to "New book", new_book_path, class: "btn btn-info"
