%h1.text-center Categories

%table#categories-list.table.table-bordered.table-hover
  %thead
    %tr
      %td Name
      %td Description
  %tbody
    - @categories.each do |category|
      %tr
        %td= category.name
        %td= category.description
= link_to 'New Category', new_category_path, class: 'btn btn-info'
